<h1>Editing Plan</h1>

<%= render 'form' %>

<br>

<%= link_to @plan do %><paper-button raised>Show</paper-button><% end %>
<%= link_to plans_path do %><paper-button style="color: #455A64" raised>Back</paper-button><% end %>
